body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  background-color: #233142;
  padding-top: 20px;
}

.sidebar h2 {
  color: white;
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.sidebar ul li {
  padding: 8px 16px;
}

.sidebar ul li a {
  color: #f95959;
  text-decoration: none;
  transition: 200ms;
  font-weight: 700;
}

.sidebar ul li a:hover {
  transition: 200ms;
  color: #fff;
}

.content {
  margin-left: 250px;
  padding: 20px;
  height: 80vh;
}

.content h1 {
  color: #233142;
}

.content a{
  color: white;
  text-decoration: none;
  display: flex;
  transition: 200ms;
  padding: 2.5%;
  font-size: small;
  opacity: 50%;
  font-weight: 200;
  background-color: #505050;
  border-radius: 5px;
}

.content a:hover{
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: large;
  padding: 3%;
  background-color: #233142;
  opacity: 80%;
  transition: 100ms;
}

.divider{
  height: 85%;
}